// table des matières
// header
// main
// footer
// responsive

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #61A8BC;
    z-index: 2;
    position: fixed;
    width: 100%;
    top: 0;

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1400px;
        margin: auto;
        padding: 0.625em 0;

        img {
            width: 191px;
            height: 145px;
            object-fit: cover;
        }

        ul {
            display: flex;
            align-items: center;

            li {
                list-style: none;

                a {
                    text-decoration: none;
                    padding: 0.625em 1.563em;
                    color: white;

                    &:hover {
                        color: #660000;
                    }

                    &:active {
                        color: #660000;
                    }
                }
            }
        }
    }
}

main {
    // max-width: 1400px;
    // margin: auto;

    #Première {
        background-color: #61A8BC;
        height: 100vh;


        #container {
            max-width: 1400px;
            margin: auto;
            display: flex;
            align-items: flex-end;
            min-height: 90vh;

            #leftContainer {
                padding: 0 0 3.125em 5em;
            }

            img {
                width: 398px;
                height: 550px;

            }

            h1 {
                font-family: Merriweather;
                font-size: 4.063em;
                text-align: left;
                color: white;
                padding: 0.625em;
            }

            p {
                font-family: Source Sans Pro;
                font-size: 1.5em;
                text-align: left;
                color: white;
                padding: 1.25em;
            }

            button {
                padding: 0.625em 2.188em 0.625em 2.188em;
                background: #660000;
                color: white;
                font-family: Source Sans Pro;
                font-size: 1.5em;
                text-align: left;
            }
        }
    }

    #Deuxième {
        background: linear-gradient(180deg, #660000 33.33%, #3B0000 100%);
        padding: 11.563em 5em 11.563em 5em;

        #container2 {
            max-width: 1400px;
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 244px;
                height: 185px;
                object-fit: cover;
            }

            h2 {
                font-family: Source Sans Pro;
                font-size: 4.063em;
                text-align: center;
                color: white;
                padding: 0.625em;
            }

            p {
                font-family: Source Sans Pro;
                font-size: 1.5em;
                text-align: left;
                color: white;
            }
        }
    }

    #Troisième {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            font-family: Source Sans Pro;
            font-size: 4.063em;
            text-align: center;
        }

        #cour1 {
            display: flex;
            position: relative;

            img {
                object-fit: contain;
                height: 540px;
                margin: -0.375em;

                &:first-of-type {
                    width: 55%;
                }

                &:last-of-type {
                    width: 45%;
                }
            }

            button {
                &:first-of-type {
                    background: #660000BF;
                    color: white;
                    font-family: Source Sans Pro;
                    font-size: 105em;
                    top: 20px;
                    right: 44%;
                }

                &:last-of-type {
                    font-family: Source Sans Pro;
                    font-size: 1.5em;
                    font-weight: 400;
                    background-color: #FFFFFFBF;
                    color: #660000;
                    top: 154px;
                    left: 50%;
                }
            }
        }

        #cour2 {
            display: flex;
            position: relative;

            img {
                object-fit: cover;
                height: 540px;
                margin: -0.5em;

                &:first-of-type {
                    width: 55%;
                }

                &:last-of-type {
                    width: 45%;
                }
            }

            button {
                &:first-of-type {
                    background-color: #68A1B1BF;
                    font-family: Source Sans Pro;
                    font-size: 1.5em;
                    font-weight: 400;
                    color: white;
                    top: 20px;
                    left: 50%;
                }

                &:last-of-type {
                    background-color: #FFFFFFBF;
                    color: #61A8BC;
                    font-family: Source Sans Pro;
                    font-size: 1.5;
                    font-weight: 700;
                    top: 170px;
                    right: 44%;
                }
            }

        }

        button {
            position: absolute;
            text-align: center;
            width: 220px;
            height: 220px;
            border-radius: 220px;
        }
    }

    #fleche {
        #img {
            position: absolute;
            right: 0;
        }

        .none {
            display: none;
        }

        .bloc {
            display: block;
        }
    }
}

footer {
    background-color: #61A8BC;
    padding: 2.5em 5em 0 5em;
    z-index: 2;
    position: relative;

    #containerF {
        max-width: 1400px;
        margin: auto;
        display: flex;
        align-items: stretch;
        justify-content: space-between;

        #grid {
            display: grid;
            grid-template: "a b"
                "c c";

            a {
                text-decoration: none;
                color: white;
                font-family: Source Sans Pro;
                font-size: 1.5em;
                text-align: left;
                padding: 0.625em 0;
            }

            h3 {
                font-family: Source Sans Pro;
                font-size: 1.5em;
                text-align: left;
                color: white;
                padding: 0.625em 0;
            }
        }

        #onglets {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        #ongletsP {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        #authors {
            padding: 0 0 2.5em 0;

            p {
                font-family: Source Sans Pro;
                font-size: 1.125em;
                text-align: left;
                color: white;
                padding: 1.563em 0;
            }
        }

        form {
            background-color: #D0E4EB;
            display: flex;
            flex-direction: column;
            padding: 2.5em;

            h3 {
                color: #660000;
                font-family: Source Sans Pro;
                font-size: 1.5em;
                text-align: center;
                padding: 0.625em 0;
            }

            input {
                padding: 0.375em 0.625em;
                border: 1px solid #CCCCCC;
                background-color: white;
                color: #CCCCCC;
                margin: 0.938em 0;
            }

            button {
                padding: 0.625em 2.188em;
                background-color: #660000;
                color: white;
                margin: 0 5.625em;
            }
        }
    }
}




@media screen and (max-width: 1024px) {
    header {
        .block {
            display: block;
        }

        nav {
            align-items: center;
            max-width: 950px;
            margin: auto;

            #absolute {
                position: absolute;
                top: 0;
                right: 0;
            }

            ul {
                display: none;
                background-color: rgba(236, 236, 236, 1);
                width: 100%;
                text-align: center;
            }

            .Menu {
                margin-top: 2.813em;
                margin-bottom: 2.813em;
                padding: 1.25em;
                border-top: 5px solid white;
                border-bottom: 5px solid white;
                position: relative;
                cursor: pointer;
                margin-right: 0.938em;

                &::before {
                    position: absolute;
                    display: block;
                    content: "";
                    height: 5px;
                    width: 50%;
                    left: 0;
                    background-color: white;
                }

                &::after {
                    position: absolute;
                    display: block;
                    content: "";
                    height: 5px;
                    width: 50%;
                    background-color: white;
                }
            }

            .open {
                border: 0;

                &::after {
                    transform: rotateZ(50deg);
                }

                &::before {
                    transform: rotateZ(-50deg);
                    left: 20px;
                }
            }

            img {
                margin-left: 2.25em;
            }
        }
    }

    main {
        #Troisième {
            #cour1 {
                //margin-bottom: -68px;

                img {
                    height: 395px;

                    &:last-of-type {
                        margin-top: 0.5em;
                    }
                }

                button {
                    &:first-of-type {
                        top: 40px;
                    }
                }
            }

            #cour2 {
                margin-top: -0.813em;

                button {
                    &:last-of-type {
                        top: 140px;
                    }
                }
            }

            button {
                width: 190px;
                height: 190px;
            }
        }
    }
}

@media screen and (max-width: 768px) {
    main {
        #Première {
            height: 90vh;

            #container {
                h1 {
                    font-size: 3.125em;
                }

                p {
                    font-size: 1.125em;
                }
            }
        }

        #Deuxième {
            padding: 6.25em 3.75em 6.25em 3.75em;

            #container2 {
                h2 {
                    font-size: 2.813em;
                }

                p {
                    font-size: 1.125em;
                }
            }
        }

        #Troisième {
            h2 {
                font-size: 2.813em;
            }
            #cour1 {
                button{
                    &:first-of-type {
                        top: 58px;
                    }
                }
            }
            #cour2 {
                margin-top: -3.5em;
                button{
                    &:first-of-type {
                        top: 63px;
                    }
                }
            }
            button {
                width: 168px;
                height: 164px;
            }
        }
    }
    footer {
        padding: 1.875em 2.125em 0px 2.125em;
        #containerF {
            #grid {
               display: flex;
               flex-direction: column;
            }
            #onglets {
                margin-bottom: 0.938em;
            }
            form{
                padding: 6.25em 1.875em 0 1.875em;
            }
        }
    }
}